@media only screen and (max-width:600px) {
    .theprocess {
        max-width: 550px;
        padding: 30px;
        margin: 0 !important;
    }
}

@media only screen and (max-width:480px) {
    .theprocess {
        max-width: 400px !important;
        padding: 20px;
        margin: 0 !important;
    }
}

@media only screen and (max-width:400px) {
    .theprocess {
        max-width: 330px !important;
        padding: 20px;
        margin: 0 !important;
    }
}